{{ if gt (where site.RegularPages "Section" "==" "author") 0}}
{{"<!-- Start Author Section -->" | safeHTML}}
<section id="author" class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeInDown">
					<h2> {{ with i18n "authorTitle" }} {{ index (split . " ") 0 | safeHTML }} {{ end }} <span class="color">
							{{ with i18n "authorTitle" }} {{ index (split . " ") 1 | safeHTML }} {{ end }} </span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			{{ range first 3 (where site.RegularPages "Section" "==" "author")}}
			{{ .Render "cartaAutor"}}
			{{ end }}

			<div class="all-post text-center col-lg-12">
				<a class="btn btn-main" href="{{ `author` | absLangURL }}">{{ i18n "viewAllAuthor" }}</a>
			</div>
		</div>
	</div>
</section>
{{"<!-- /author -->" | safeHTML}}
{{ end }}
